
.preferedcrypto{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  background-color: white;

  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.preferedcrypto_container{
  min-height: 80px;
  width: 100%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.preferedcrypto_description{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid #dfe1e5;

  display: flex;
  align-items: center;
  height: 80px;

  font-weight: bold;
}

.preferedcrypto_description_name{
  width: 30%;
}

.preferedcrypto_description_data{
  width: 70%;
  display: flex;
}

.preferedcrypto_description_data p{
  width: 33.33%;
  text-align: center;
}

#space{
  color: white;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {

  .preferedcrypto{
    width: 90%;
  }

  .preferedcrypto_description_name{
    width: 40%;
  }

  .preferedcrypto_description_data{
    width: 60%;
  }
  .preferedcrypto_desc_volume1day{
    display: none;
  }
  .preferedcrypto_description_data p{
    width: 50%;
  }
}

@media only screen and (max-width: 650px) {

  .preferedcrypto{
    width: 95%;
  }

  .preferedcrypto_description_name{
    width: 60%;
  }

  .preferedcrypto_description_data{
    width: 40%;
  }
  .preferedcrypto_desc_volume1mth{
    display: none;
  }
  .preferedcrypto_description_data p{
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {

  .preferedcrypto_container{
    padding: 20px;
  }
}
