.search{
  border: 1px solid #dfe1e5;
  width: 40%;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 3px;
  border-radius: 3px;
  background-color: white;
  opacity: 0.4;
  /*box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);*/
}

.search:hover{
  box-shadow:0 1px 6px rgba(32,33,36,.28);
  opacity: 0.6;
}

.search input{
  height: 34px;
  width: 90%;
  font-size: 16px;
  outline: none;
  border: none;
}

.search i{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;

  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #9aa0a6;
  cursor: pointer;
}

.search i:hover{
  background-color: #ebebeb;
  color: white;
}
